@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
	font-family: 'Oswald', sans-serif;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	scrollbar-width: none; /* Firefox */
}

.active {
	opacity: 1;
}

.active-h4 {
	color: #414f6b;
	border-bottom: 1px solid #414f6b;
}

.active-h4-parent {
	background-color: #ffffff80;
}

@media (min-width: 1024px) {
	.active-h4 {
		border-bottom: 2px solid #414f6b;
	}
}

.active-tab {
	display: block;
}
